img {
    max-width: 80%;
    width: 80%;
    margin-top: 20px;
}

.description {
    font-size: medium;
    margin: 10px 0;
}

a {
    cursor: pointer;
}

.ingredient {
    margin: 2px 0 2px 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13pt;
}